html,
body {
    height: 100%;
}

body {
    display: flex;
    background: url(../img/biodeg12.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form input.form-control {
    margin: 10px 0px;
}
.p{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 5%;
}

.figure{
    position: absolute;
    top: 65%;
}